<div class="stats shadow">

    <div class="stat">
        <div class="stat-title">Número de empleados</div>
        <div class="stat-value text-primary">{{employeeList.length}}</div>
    </div>

    <div class="stat">
        <div class="stat-title">Empleados activos</div>
        <div class="stat-value text-secondary">{{getActiveEmployees()}}</div>
    </div>

    <div class="stat">
        <div class="stat-title">Empleados retirados</div>
        <div class="stat-value text-secondary">{{getRetiredEmployees()}}</div>
    </div>

</div>
