<div class="flex justify-center items-center py-4 px-8">
    <div class="card lg:w-5/12 sm:w-full bg-base-100 shadow-xl">
        <div class="card-body items-start text-center">
            <h2 class="card-title text-start mb-3">Actualizar datos de la compañía</h2>
            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text font-semibold">Nombre</span>
                </label>
                <input type="text" class="input input-bordered" [(ngModel)]="companyName"/>
            </div>
            <div class="form-control w-full mb-3">
                <label class="label">
                    <span class="label-text font-semibold">Nit</span>
                </label>
                <input type="number" class="input input-bordered" [(ngModel)]="identifier" />
            </div>
            <div class="grid grid-cols-1 space-y-2 form-contro w-full">
                <label class="label">
                    <span class="label-text font-semibold">Logo de la compañía</span>
                </label>
                <div class="flex items-center justify-center w-full">
                    <label class="flex flex-col rounded-lg border-4 border-dashed w-full h-60 p-10 group text-center">
                        <div class="h-full w-full text-center flex flex-col items-center justify-center items-center  ">
                            <img class="w-2/3 mb-3 mt-0"
                                [src]="companyLogo"
                                alt="freepik image">
                            <p class="pointer-none text-gray-500 ">
                                <label for="input-file" class="text-primary hover:underline cursor-pointer">Selecciona un archivo</label>
                            </p>
                        </div>
                        <input type="file" class="hidden" id="input-file" accept="image/png, image/jpeg" (change)="onFileSelected($event)">
                    </label>
                </div>
            </div>
            <p class="text-sm text-gray-300">
                <span>Archivos permitidos: png, jgp, jpeg</span>
            </p>
            <div class="card-actions pt-8 w-full">
                <button class="btn btn-primary w-full" (click)="updateCompanyData()">Guardar cambios</button>
            </div>
        </div>
    </div>

    <div class="toast toast-bottom toast-end toast-transition" [ngClass]="{'show': showWarning, 'hide': !showWarning && warningDismissed}">
        <div class="alert" [ngClass]="{'alert-warning': typeWarning(), 'alert-success': typeSuccess()}">
            <span>{{toastMessage}}</span>
        </div>
    </div>