<div class="pl-8 pr-8 pb-8">
    <div class="grid grid-cols-2 gap-4">
        <div class="form-control">
            <label class="label">
                <span class="label-text font-semibold">Nombre</span>
            </label>
            <input type="text" class="input input-bordered pointer-events-none" [value]="'Juan'" 
            readonly aria-readonly="true"/>
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text font-semibold">Apellido</span>
            </label>
            <input type="text" class="input input-bordered pointer-events-none" [value]="'Morelos Acosta'" 
            readonly aria-readonly="true"/>
        </div>
    </div>
    <div class="grid grid-cols-1 gap-4 mt-4">
        <div class="form-control">
            <label class="label">
                <span class="label-text font-semibold">Email personal</span>
            </label>
            <input type="text" class="input input-bordered pointer-events-none" [value]="'juanjmorelos13@gmail.com'" 
            readonly aria-readonly="true"/>
        </div>
    </div>
</div>