<div class="pl-8 pr-8 pb-8">
    <div class="grid grid-cols-2 gap-4">
        <div class="form-control">
            <label class="label">
                <span class="label-text font-semibold">Nombre</span>
            </label>
            <input type="text" class="input input-bordered" [ngClass]="{'pointer-events-none': !editable}" [value]="blank ? '' :  'Juan'" 
            [readonly]="!editable" aria-readonly="true"/>
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text font-semibold">Apellido</span>
            </label>
            <input type="text" class="input input-bordered" [ngClass]="{'pointer-events-none': !editable}" [value]="blank ? '' : 'Morelos Acosta'" 
            [readonly]="!editable" aria-readonly="true"/>
        </div>
    </div>
    <div class="grid grid-cols-1 gap-4 mt-4">
        <div class="form-control">
            <label class="label">
                <span class="label-text font-semibold">Email personal</span>
            </label>
            <input type="text" class="input input-bordered" [ngClass]="{'pointer-events-none': !editable}" [value]="blank ? '' : 'juanjmorelos13@gmail.com'" 
            [readonly]="!editable" aria-readonly="true"/>
        </div>
    </div>
    <ng-content></ng-content>
</div>