<div class="mr-4 ml-8 mt-4">
    <app-title [title]="title"></app-title>
</div>
<div class="p-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pt-8">
    <div class="card lg:w-64 sm:w-full bg-base-100 shadow-xl">
        <figure class="flex-col pb-5 border-bottom">
            <div class="flex items-center mt-3 flex-col">
                <div class="text-md font-semibold">Total nómina a pagar:</div>
                <div class="text-md ml-1">$10,000,000</div>
            </div>
            <div class="flex items-center mt-3 flex-col">
                <div class="text-md font-semibold">Período a pagar:</div>
                <div class="text-md ml-1">1 jun - 30 jun</div>
            </div>
        </figure>
        <div class="card-body">
            <h2 class="card-title">
                Nº 32456
                <div class="badge badge-default">Pediente</div>
            </h2>
            <p>Por favor escoja una opción</p>
            <div class="card-actions justify-center">
                <div class="btn btn-sm btn-primary rounded-full">Autorizar</div>
                <div class="btn btn-sm btn-error rounded-full">Rechazar</div>
            </div>
        </div>
    </div>
    <div class="card lg:w-64 sm:w-full bg-base-100 shadow-xl">
        <figure class="flex-col pb-5 border-bottom">
            <div class="flex items-center mt-3 flex-col">
                <div class="text-md font-semibold">Total nómina a pagar:</div>
                <div class="text-md ml-1">$15,000,000</div>
            </div>
            <div class="flex items-center mt-3 flex-col">
                <div class="text-md font-semibold">Período a pagar:</div>
                <div class="text-md ml-1">1 jun - 30 jun</div>
            </div>
        </figure>
        <div class="card-body">
            <h2 class="card-title">
                Nº 32457
                <div class="badge badge-error">Rechazada</div>
            </h2>
            <p>Rechazada por: David Gonzalez</p>
        </div>
    </div>
    <div class="card lg:w-64 sm:w-full bg-base-100 shadow-xl">
        <figure class="flex-col pb-5 border-bottom">
            <div class="flex items-center mt-3 flex-col">
                <div class="text-md font-semibold">Total nómina a pagar:</div>
                <div class="text-md ml-1">$12,000,000</div>
            </div>
            <div class="flex items-center mt-3 flex-col">
                <div class="text-md font-semibold">Período a pagar:</div>
                <div class="text-md ml-1">1 may - 30 may</div>
            </div>
        </figure>
        <div class="card-body">
            <h2 class="card-title">
                Nº 32456
                <div class="badge badge-success">Pagado</div>
            </h2>
            <p>Autorizado por: David Gonzalez</p>
        </div>
    </div>
    <div class="card lg:w-64 sm:w-full bg-base-100 shadow-xl">
        <figure class="flex-col pb-5 border-bottom">
            <div class="flex items-center mt-3 flex-col">
                <div class="text-md font-semibold">Total nómina a pagar:</div>
                <div class="text-md ml-1">$11,000,000</div>
            </div>
            <div class="flex items-center mt-3 flex-col">
                <div class="text-md font-semibold">Período a pagar:</div>
                <div class="text-md ml-1">1 abr - 30 abr</div>
            </div>
        </figure>
        <div class="card-body">
            <h2 class="card-title">
                Nº 32457
                <div class="badge badge-success">Pagado</div>
            </h2>
            <p>Autorizado por: David Gonzalez</p>
        </div>
    </div>
</div>